# <div style="text-align:center">파이썬데이터분석 - 2차 과제 <br/><광주광역시_산불발생 현황></div>

<div style="text-align: right"> <b>ICT 공학부 202104137 김가을</b></div>
<div style="text-align: right"> <b>ICT 공학부 202104168 김준석</b></div>

# 1. 데이터 소개

공공데이터 포털에서 '광주광역시_산불발생 현황'이라는 데이터를 사용했습니다.
    
2011년부터 2022년까지 광주광역시에서 발생한 산불발생 현황 데이터입니다.
    
발생일자, 발화시간, 진화시간, 소요시간, 발생위치, 면적, 피해액, 발생원인,
    
진화참여인력, 진화장비 등의 내용을 제공하는 데이터입니다.
    
https://www.data.go.kr/data/15012197/fileData.do

# 2. 데이터 변경 및 선택 이유
    
처음에는 캐글에서 집값 예측 데이터를 사용했으나, 다른 조와 겹치는 주제에 너무 많은 
    
데이터 분석이 진행되어 있어 적절하지 않다고 판단하여 데이터를 변경하기로 했습니다.
    
매년 산불로 인한 많은 인명 피해와 금전적 피해가 따르고 있습니다.
    
데이터 분석을 하기에 적합한 산불관련 데이터가 광주광역시 이외에는 없어,
    
광주광역시의 산불발생 데이터를 사용하였으나, 이번 데이터 분석을 통한 학습을
    
더욱 확장하여 산불 예측까지의 학습을 기대하며 이를 전국 산불 발생 데이터에 적용시켜
    
전국적으로 산불 발생에 대한 예측을 통해 산불 예방에 도움이 되었으면 하는 바램으로
    
광주광역시 산불발생 현황 데이터 분석을 진행하게 되었습니다.

## 데이터 분석용 라이브러리

In [71]:
import pandas as pd
import numpy as np

## 데이터 불러오기

In [72]:
fire = pd.read_csv('C:/Users/김준석/Python/gwangju_wildfire.csv', encoding = 'ANSI')
type(fire)

pandas.core.frame.DataFrame

## 데이터 확인하기

In [73]:
fire

,연번,발생일자,발생요일,발화시간,진화시간,소요시간,발생위치,면적(헥타르),수종,피해액(천원),...,소방인력,군인인력,기타인력,산악헬기,소방헬기,진화차,소방차,기타진화장비,비고,데이터기준일자
0,1,2011-3-29,화요일,15:06,16:50,1:44,광주광역시 서구 풍암동,0.500,활잡목,11469.0,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,2022-10-7
1,2,2011-3-31,목요일,16:45,18:20,1:35,광주광역시 동구 지산동,0.200,"소나무, 참나무",5319.0,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,2022-10-7
2,3,2012-3-28,수요일,16:15,19:00,2:45,광주광역시 동구 소태동,0.300,NaN,10592.0,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,2022-10-7
3,4,2012-4-18,수요일,14:50,19:00,4:10,광주광역시 광산구 송학동,0.160,NaN,9619.0,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,등산객 부주의,2022-10-7
4,5,2013-2-17,일요일,06:53,08:30,1:37,광주광역시 동구 운림동 산238,0.300,"잡관목, 잡풀",NaN,...,20.0,NaN,NaN,1.0,2.0,2.0,2.0,140.0,무등산국립공원내(경찰수사의뢰),2022-10-7
5,6,2013-2-24,일요일,14:08,14:22,0:14,광주광역시 동구 운림동 390(광륵사 경내),0.003,잡풀,NaN,...,27.0,NaN,6.0,NaN,NaN,NaN,1.0,20.0,무등산국립공원,2022-10-7
6,7,2013-3-6,수요일,13:38,15:52,2:14,광주광역시 북구 장등동 산15-1,0.200,"리기다, 잡목",350.0,...,20.0,NaN,NaN,2.0,1.0,4.0,6.0,140.0,NaN,2022-10-7
7,8,2013-3-9,토요일,13:05,15:20,2:15,광주광역시 광산구 삼거동 산43,0.600,"소나무, 잡관목",400.0,...,20.0,NaN,NaN,1.0,1.0,2.0,7.0,400.0,NaN,2022-10-7
8,9,2013-3-9,토요일,13:22,14:15,0:53,광주광역시 북구 청풍동 704,0.050,"소나무, 잡목",350.0,...,20.0,NaN,30.0,1.0,1.0,4.0,3.0,600.0,NaN,2022-10-7
9,10,2013-4-3,수요일,13:50,14:30,0:40,광주광역시 광산구 대산동 산61,0.030,잡관목,NaN,...,10.0,NaN,NaN,1.0,1.0,2.0,4.0,60.0,NaN,2022-10-7
10,11,2013-5-8,수요일,15:50,16:50,1:00,광주광역시 동구 운림동 산94,0.200,소나무 등,387.0,...,50.0,NaN,60.0,3.0,NaN,3.0,7.0,200.0,무등산국립공원,2022-10-7
11,12,2014-1-23,목요일,13:26,14:50,1:24,광주광역시 동구 월남동 산57-1,0.070,소나무 등,NaN,...,30.0,NaN,50.0,1.0,1.0,2.0,2.0,300.0,무등산국립공원,2022-10-7
12,13,2014-2-23,일요일,11:57,12:50,0:53,광주광역시 북구 장등동 산513,0.050,"잡목, 시초 등",NaN,...,14.0,NaN,16.0,1.0,NaN,3.0,4.0,207.0,NaN,2022-10-7
13,14,2014-2-23,일요일,12:15,12:51,0:36,광주광역시 광산구 사호동 산72,0.200,혼효림,NaN,...,14.0,NaN,NaN,1.0,1.0,2.0,3.0,70.0,NaN,2022-10-7
14,15,2014-2-25,화요일,15:05,16:05,1:00,광주광역시 광산구 동림동 산40,0.020,혼효림,NaN,...,10.0,NaN,NaN,NaN,NaN,1.0,3.0,70.0,의류소각,2022-10-7
15,16,2014-3-21,금요일,18:42,19:10,0:28,광주광역시 광산구 선동 산46,0.010,침엽수,NaN,...,15.0,NaN,5.0,NaN,NaN,2.0,5.0,97.0,NaN,2022-10-7
16,17,2014-4-6,일요일,10:26,10:50,0:24,광주광역시 서구 매월동 산105-3,0.100,침엽수,NaN,...,30.0,NaN,NaN,NaN,1.0,3.0,8.0,111.0,NaN,2022-10-7
17,18,2014-5-19,월요일,15:05,16:25,1:20,광주광역시 북구 두암동 산75-1,0.060,침엽수,NaN,...,NaN,NaN,NaN,2.0,NaN,3.0,7.0,412.0,NaN,2022-10-7
18,19,2015-2-13,금요일,12:52,13:30,0:38,광주광역시 광산구 박호동 산156-1,0.010,소나무 30주,NaN,...,20.0,NaN,NaN,NaN,1.0,2.0,2.0,70.0,송산유원지부근,2022-10-7
19,20,2015-3-16,월요일,12:41,13:30,0:49,광주광역시 광산구 신창동 산101-2,0.030,잡관목,NaN,...,25.0,NaN,NaN,NaN,NaN,2.0,4.0,40.0,광주보건대학교부근,2022-10-7
20,21,2015-3-17,화요일,14:40,16:10,1:30,광주광역시 광산구 선동 477,0.300,잡관목,NaN,...,30.0,NaN,NaN,2.0,1.0,2.0,5.0,100.0,용진산 용진터널부근,2022-10-7
21,22,2015-3-28,토요일,17:40,18:20,0:40,광주광역시 남구 주월동 산106-1,0.020,NaN,NaN,...,14.0,NaN,NaN,NaN,1.0,NaN,NaN,60.0,짚봉산 양궁장 신축장부근,2022-10-7
22,23,2015-6-7,일요일,16:37,17:20,0:43,광주광역시 광산구 연산동 산91,0.010,잡관목,NaN,...,12.0,NaN,NaN,1.0,1.0,1.0,4.0,28.0,에콜리안 광산cc부근,2022-10-7
23,24,2016-3-24,금요일,13:40,14:30,0:50,광주광역시 광산구 광산동 산98-2,0.030,소나무 참나무류,NaN,...,20.0,NaN,NaN,NaN,2.0,2.0,6.0,80.0,NaN,2022-10-7
24,25,2017-3-19,일요일,14:00,15:00,1:00,광주광역시 북구 망월동 산35,0.100,소나무 참나무류,NaN,...,24.0,NaN,NaN,1.0,1.0,4.0,8.0,80.0,한**,2022-10-7
25,26,2017-5-18,목요일,15:10,16:30,1:20,광주광역시 광산구 대산동 산8 일원,0.300,소나무및 활잡목,NaN,...,12.0,NaN,18.0,2.0,1.0,2.0,3.0,60.0,NaN,2022-10-7
26,27,2018-2-27,화요일,15:00,15:25,0:25,광주광역시 광산구 지정동 산123,0.250,혼효림,NaN,...,35.0,NaN,NaN,NaN,1.0,1.0,8.0,30.0,NaN,2022-10-7
27,28,2018-3-24,토요일,12:20,12:50,0:30,광주광역시 동구 운림동 산1-9,0.100,"소나무 15주, 잡목",NaN,...,20.0,NaN,NaN,NaN,NaN,1.0,1.0,2.0,NaN,2022-10-7
28,29,2018-4-2,월요일,13:01,14:47,1:46,광주광역시 남구 이장동 산20-1외2,0.300,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,2022-10-7
29,30,2019-4-18,목요일,16:29,16:50,0:21,광주광역시 남구 이장동 산13,0.020,NaN,NaN,...,20.0,NaN,NaN,NaN,NaN,2.0,5.0,20.0,고**,2022-10-7
30,31,2019-12-25,수요일,15:17,17:00,1:43,광주광역시 동구 학동 산31,0.040,소나무외 10주,NaN,...,50.0,NaN,12.0,2.0,1.0,2.0,3.0,80.0,NaN,2022-10-7
31,32,2020-4-4,토요일,17:50,18:50,1:00,광주광역시 광산구 광산동 산141,0.050,소나무외 10주,NaN,...,30.0,NaN,NaN,1.0,1.0,2.0,5.0,3.0,김**,2022-10-7
32,33,2020-11-13,금요일,12:40,15:00,2:20,광주광역시 광산구 광산동 산134,0.140,"지피물,잡관목",NaN,...,10.0,NaN,NaN,1.0,NaN,2.0,2.0,1.0,NaN,2022-10-7
33,34,2021-4-27,화요일,15:40,16:32,0:52,광주광역시 남구 석정동 산40-3,0.040,"지피물,잡관목",NaN,...,30.0,NaN,NaN,NaN,NaN,2.0,7.0,2.0,NaN,2022-10-7
34,35,2022-2-24,목요일,16:04,17:10,1:06,광주광역시 광산구 양산동 산 14,0.080,"지피물,잡관목",NaN,...,10.0,NaN,NaN,1.0,1.0,2.0,2.0,40.0,NaN,2022-10-7

In [74]:
fire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연번        35 non-null     int64
 1   발생일자      35 non-null     object
 2   발생요일      35 non-null     object
 3   발화시간      35 non-null     object
 4   진화시간      35 non-null     object
 5   소요시간      35 non-null     object
 6   발생위치      35 non-null     object
 7   면적(헥타르)   35 non-null     float64
 8   수종        30 non-null     object
 9   피해액(천원)   8 non-null      float64
 10  발생원인      35 non-null     object
 11  공무원인력     30 non-null     float64
 12  전문인력      27 non-null     float64
 13  공중인력      0 non-null      float64
 14  경찰인력      12 non-null     float64
 15  소방인력      29 non-null     float64
 16  군인인력      0 non-null      float64
 17  기타인력      8 non-null      float64
 18  산악헬기      23 non-null     float64
 19  소방헬기      20 non-null     float64
 20  진화차       28 non-null     float64
 21  소방차       29 non-null     float64
 22  기타진화장비    30 non-null     float64
 23  비고        14 non-null     object
 24  데이터기준일자   35 non-null     object
dtypes: float64(14), int64(1), object(10)
memory usage: 7.0+ KB

In [75]:
#열과 행
fire.shape

(35, 25)

In [76]:
#기술 통계량
fire.describe().T

,count,mean,std,min,25%,50%,75%,max
연번,35.0,18.000000,10.246951,1.000,9.50,18.00,26.50,35.0
면적(헥타르),35.0,0.139229,0.144410,0.003,0.03,0.08,0.20,0.6
피해액(천원),8.0,4810.750000,5070.271781,350.000,377.75,2859.50,9862.25,11469.0
공무원인력,30.0,53.300000,71.710698,1.000,8.25,26.50,55.00,300.0
전문인력,27.0,22.111111,10.867500,2.000,15.50,20.00,29.50,45.0
공중인력,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경찰인력,12.0,7.250000,6.195673,2.000,4.50,5.50,8.50,25.0
소방인력,29.0,22.137931,10.595566,10.000,14.00,20.00,30.00,50.0
군인인력,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
기타인력,8.0,24.625000,20.472543,5.000,10.50,17.00,35.00,60.0
산악헬기,23.0,1.565217,0.727767,1.000,1.00,1.00,2.00,3.0
소방헬기,20.0,1.100000,0.307794,1.000,1.00,1.00,1.00,2.0
진화차,28.0,2.214286,0.832539,1.000,2.00,2.00,2.25,4.0
소방차,29.0,4.379310,2.194373,1.000,3.00,4.00,6.00,8.0
기타진화장비,30.0,117.433333,140.222405,1.000,32.50,70.00,132.75,600.0

In [77]:
#문자열에 대한 통계
fire.describe(include=['object']).T

        count unique           top freq
발생일자       35     33     2014-2-23    2
발생요일       35      7           일요일    7
발화시간       35     34         15:05    2
진화시간       35     27         16:50    3
소요시간       35     29          1:00    4
발생위치       35     35  광주광역시 서구 풍암동    1
수종         30     18           잡관목    4
발생원인       35     18       논밭두렁 소각    7
비고         14     12       무등산국립공원    3
데이터기준일자    35      1     2022-10-7   35

# 열 이름 변경하기

In [78]:
fire.columns = ['num', 'date', 'day', 'start_time', 'end_time', 'use_time', 'location', 'damage_area(ha)', 
               'tree_speices', 'damage_money(1000won)', 'fire_cause', 'official', 'professional', 'public',
               'police', 'firefighting', 'military', 'other', 'mountainhelicopter', 'firehelicopter',
               'evolutioncar', 'firetruck', 'otherequipment', 'note', 'criteria_date']
fire.head()

,num,date,day,start_time,end_time,use_time,location,damage_area(ha),tree_speices,damage_money(1000won),...,firefighting,military,other,mountainhelicopter,firehelicopter,evolutioncar,firetruck,otherequipment,note,criteria_date
0,1,2011-3-29,화요일,15:06,16:50,1:44,광주광역시 서구 풍암동,0.50,활잡목,11469.0,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,2022-10-7
1,2,2011-3-31,목요일,16:45,18:20,1:35,광주광역시 동구 지산동,0.20,"소나무, 참나무",5319.0,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,2022-10-7
2,3,2012-3-28,수요일,16:15,19:00,2:45,광주광역시 동구 소태동,0.30,NaN,10592.0,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,2022-10-7
3,4,2012-4-18,수요일,14:50,19:00,4:10,광주광역시 광산구 송학동,0.16,NaN,9619.0,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,등산객 부주의,2022-10-7
4,5,2013-2-17,일요일,06:53,08:30,1:37,광주광역시 동구 운림동 산238,0.30,"잡관목, 잡풀",NaN,...,20.0,NaN,NaN,1.0,2.0,2.0,2.0,140.0,무등산국립공원내(경찰수사의뢰),2022-10-7

# 결측치 NA 확인 및 채우기

In [79]:
fire.isna().sum()

num                       0
date                      0
day                       0
start_time                0
end_time                  0
use_time                  0
location                  0
damage_area(ha)           0
tree_speices              5
damage_money(1000won)    27
fire_cause                0
official                  5
professional              8
public                   35
police                   23
firefighting              6
military                 35
other                    27
mountainhelicopter       12
firehelicopter           15
evolutioncar              7
firetruck                 6
otherequipment            5
note                     21
criteria_date             0
dtype: int64

In [80]:
fire.fillna(0, inplace=True)
fire.head()

,num,date,day,start_time,end_time,use_time,location,damage_area(ha),tree_speices,damage_money(1000won),...,firefighting,military,other,mountainhelicopter,firehelicopter,evolutioncar,firetruck,otherequipment,note,criteria_date
0,1,2011-3-29,화요일,15:06,16:50,1:44,광주광역시 서구 풍암동,0.50,활잡목,11469.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0,2022-10-7
1,2,2011-3-31,목요일,16:45,18:20,1:35,광주광역시 동구 지산동,0.20,"소나무, 참나무",5319.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0,2022-10-7
2,3,2012-3-28,수요일,16:15,19:00,2:45,광주광역시 동구 소태동,0.30,0,10592.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0,2022-10-7
3,4,2012-4-18,수요일,14:50,19:00,4:10,광주광역시 광산구 송학동,0.16,0,9619.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,등산객 부주의,2022-10-7
4,5,2013-2-17,일요일,06:53,08:30,1:37,광주광역시 동구 운림동 산238,0.30,"잡관목, 잡풀",0.0,...,20.0,0.0,0.0,1.0,2.0,2.0,2.0,140.0,무등산국립공원내(경찰수사의뢰),2022-10-7

# 총 동원 인력량, 총 동원 기계량 구하기

In [81]:
fire['total_human'] = (fire.official +  fire.professional + fire.public
               + fire.police + fire.firefighting + fire.military + fire.other)
fire.total_human

0       0.0
1       0.0
2       0.0
3       0.0
4     100.0
5      42.0
6      80.0
7     190.0
8     370.0
9      80.0
10    300.0
11    290.0
12    200.0
13     58.0
14     37.0
15     69.0
16     73.0
17    149.0
18     65.0
19     50.0
20     95.0
21     48.0
22     19.0
23    125.0
24     80.0
25     60.0
26     50.0
27     45.0
28      0.0
29     58.0
30    182.0
31     66.0
32     48.0
33     59.0
34     34.0
Name: total_human, dtype: float64

In [82]:
fire['total_machine'] = (fire.mountainhelicopter + fire.firehelicopter +
               fire.evolutioncar + fire.firetruck + fire.otherequipment)
fire.total_machine

0       3.0
1       3.0
2       2.0
3       2.0
4     147.0
5      21.0
6     153.0
7     411.0
8     609.0
9      68.0
10    213.0
11    306.0
12    215.0
13     77.0
14     74.0
15    104.0
16    123.0
17    424.0
18     75.0
19     46.0
20    110.0
21     61.0
22     35.0
23     90.0
24     94.0
25     68.0
26     40.0
27      4.0
28      2.0
29     27.0
30     88.0
31     12.0
32      6.0
33     11.0
34     46.0
Name: total_machine, dtype: float64

# 필요하지 않은 열 삭제하기

In [83]:
#'num'열 삭제, 'official'열부터 'criteria_time'열까지 삭제
fire.drop(columns = 'num',  inplace=True)
fire.drop(fire.columns[fire.columns.get_loc('official'):fire.columns.get_loc('criteria_date')+1], axis=1, inplace=True)
fire.head()

,date,day,start_time,end_time,use_time,location,damage_area(ha),tree_speices,damage_money(1000won),fire_cause,total_human,total_machine
0,2011-3-29,화요일,15:06,16:50,1:44,광주광역시 서구 풍암동,0.50,활잡목,11469.0,논밭두렁 소각,0.0,3.0
1,2011-3-31,목요일,16:45,18:20,1:35,광주광역시 동구 지산동,0.20,"소나무, 참나무",5319.0,입산자 실화,0.0,3.0
2,2012-3-28,수요일,16:15,19:00,2:45,광주광역시 동구 소태동,0.30,0,10592.0,논밭두렁 소각,0.0,2.0
3,2012-4-18,수요일,14:50,19:00,4:10,광주광역시 광산구 송학동,0.16,0,9619.0,입산자 실화,0.0,2.0
4,2013-2-17,일요일,06:53,08:30,1:37,광주광역시 동구 운림동 산238,0.30,"잡관목, 잡풀",0.0,원인미상,100.0,147.0

# 몇몇 열의 단위 변환 및 수정하기

In [84]:
#문자형 소요시간 데이터를 정수형태, 분단위로 변경
fire['use_time(min)'] = fire['use_time'].str.replace(':', '')
fire['use_time(min)'] = fire['use_time(min)'].astype(np.int64)
fire['use_time(min)']  = (fire['use_time(min)'] // 100 * 60) + fire['use_time(min)'] % 100
fire.head()

,date,day,start_time,end_time,use_time,location,damage_area(ha),tree_speices,damage_money(1000won),fire_cause,total_human,total_machine,use_time(min)
0,2011-3-29,화요일,15:06,16:50,1:44,광주광역시 서구 풍암동,0.50,활잡목,11469.0,논밭두렁 소각,0.0,3.0,104
1,2011-3-31,목요일,16:45,18:20,1:35,광주광역시 동구 지산동,0.20,"소나무, 참나무",5319.0,입산자 실화,0.0,3.0,95
2,2012-3-28,수요일,16:15,19:00,2:45,광주광역시 동구 소태동,0.30,0,10592.0,논밭두렁 소각,0.0,2.0,165
3,2012-4-18,수요일,14:50,19:00,4:10,광주광역시 광산구 송학동,0.16,0,9619.0,입산자 실화,0.0,2.0,250
4,2013-2-17,일요일,06:53,08:30,1:37,광주광역시 동구 운림동 산238,0.30,"잡관목, 잡풀",0.0,원인미상,100.0,147.0,97

In [85]:
#헥타르 단위의 피해면적을 보기 쉽게 제곱미터 단위로 변경
fire['damage_area(m^2)'] = fire['damage_area(ha)'] * 10000
fire.head()

,date,day,start_time,end_time,use_time,location,damage_area(ha),tree_speices,damage_money(1000won),fire_cause,total_human,total_machine,use_time(min),damage_area(m^2)
0,2011-3-29,화요일,15:06,16:50,1:44,광주광역시 서구 풍암동,0.50,활잡목,11469.0,논밭두렁 소각,0.0,3.0,104,5000.0
1,2011-3-31,목요일,16:45,18:20,1:35,광주광역시 동구 지산동,0.20,"소나무, 참나무",5319.0,입산자 실화,0.0,3.0,95,2000.0
2,2012-3-28,수요일,16:15,19:00,2:45,광주광역시 동구 소태동,0.30,0,10592.0,논밭두렁 소각,0.0,2.0,165,3000.0
3,2012-4-18,수요일,14:50,19:00,4:10,광주광역시 광산구 송학동,0.16,0,9619.0,입산자 실화,0.0,2.0,250,1600.0
4,2013-2-17,일요일,06:53,08:30,1:37,광주광역시 동구 운림동 산238,0.30,"잡관목, 잡풀",0.0,원인미상,100.0,147.0,97,3000.0

In [86]:
#발생일자 데이터에서 '월'정보만 추출
fire['month'] = pd.to_datetime(fire['date']).dt.month
fire.head()

,date,day,start_time,end_time,use_time,location,damage_area(ha),tree_speices,damage_money(1000won),fire_cause,total_human,total_machine,use_time(min),damage_area(m^2),month
0,2011-3-29,화요일,15:06,16:50,1:44,광주광역시 서구 풍암동,0.50,활잡목,11469.0,논밭두렁 소각,0.0,3.0,104,5000.0,3
1,2011-3-31,목요일,16:45,18:20,1:35,광주광역시 동구 지산동,0.20,"소나무, 참나무",5319.0,입산자 실화,0.0,3.0,95,2000.0,3
2,2012-3-28,수요일,16:15,19:00,2:45,광주광역시 동구 소태동,0.30,0,10592.0,논밭두렁 소각,0.0,2.0,165,3000.0,3
3,2012-4-18,수요일,14:50,19:00,4:10,광주광역시 광산구 송학동,0.16,0,9619.0,입산자 실화,0.0,2.0,250,1600.0,4
4,2013-2-17,일요일,06:53,08:30,1:37,광주광역시 동구 운림동 산238,0.30,"잡관목, 잡풀",0.0,원인미상,100.0,147.0,97,3000.0,2

In [87]:
#광주광역시 데이터이므로 'location'열에 중복되는 '광주광역시'를 삭제함으로써 축약
fire['location'] = fire['location'].str.replace('광주광역시 ', '')
fire.head()

,date,day,start_time,end_time,use_time,location,damage_area(ha),tree_speices,damage_money(1000won),fire_cause,total_human,total_machine,use_time(min),damage_area(m^2),month
0,2011-3-29,화요일,15:06,16:50,1:44,서구 풍암동,0.50,활잡목,11469.0,논밭두렁 소각,0.0,3.0,104,5000.0,3
1,2011-3-31,목요일,16:45,18:20,1:35,동구 지산동,0.20,"소나무, 참나무",5319.0,입산자 실화,0.0,3.0,95,2000.0,3
2,2012-3-28,수요일,16:15,19:00,2:45,동구 소태동,0.30,0,10592.0,논밭두렁 소각,0.0,2.0,165,3000.0,3
3,2012-4-18,수요일,14:50,19:00,4:10,광산구 송학동,0.16,0,9619.0,입산자 실화,0.0,2.0,250,1600.0,4
4,2013-2-17,일요일,06:53,08:30,1:37,동구 운림동 산238,0.30,"잡관목, 잡풀",0.0,원인미상,100.0,147.0,97,3000.0,2

# 필요하지 않은 열 삭제하기

In [88]:
#'use_time'열 삭제, 'damage_area(ha)'열 삭제
fire.drop(columns = 'use_time', inplace=True)
fire.drop(columns = 'damage_area(ha)', inplace=True)
fire.head()

,date,day,start_time,end_time,location,tree_speices,damage_money(1000won),fire_cause,total_human,total_machine,use_time(min),damage_area(m^2),month
0,2011-3-29,화요일,15:06,16:50,서구 풍암동,활잡목,11469.0,논밭두렁 소각,0.0,3.0,104,5000.0,3
1,2011-3-31,목요일,16:45,18:20,동구 지산동,"소나무, 참나무",5319.0,입산자 실화,0.0,3.0,95,2000.0,3
2,2012-3-28,수요일,16:15,19:00,동구 소태동,0,10592.0,논밭두렁 소각,0.0,2.0,165,3000.0,3
3,2012-4-18,수요일,14:50,19:00,광산구 송학동,0,9619.0,입산자 실화,0.0,2.0,250,1600.0,4
4,2013-2-17,일요일,06:53,08:30,동구 운림동 산238,"잡관목, 잡풀",0.0,원인미상,100.0,147.0,97,3000.0,2

# 데이터 딕셔너리 (data dictionary)

In [89]:
pd.read_csv('C:/Users/김준석/Python/columns_names.csv')

              column_name description
0                    date        발생일자
1                     day        발생요일
2              start_time        발화시간
3                end_time        진화시간
4                location        발생위치
5            tree_speices          수종
6   damage_money(1000won)     피해액(천원)
7              fire_cause        발생원인
8             total_human    총 동원 인력량
9           total_machine    총 동원 기계량
10          use_time(min)     소요시간(분)
11       damage_area(m^2)     면적(m^2)
12                  month     발생일자(월)

# 분석할 컬럼만 추출

In [90]:
#월별 소요시간 및 피해 면적과 발생원인에 대한 상관관계 분석
cols=[
    'month',
    'use_time(min)',
    'fire_cause',
    'damage_area(m^2)'
]

col2 = fire.loc[:, cols]
col2

    month  use_time(min)    fire_cause  damage_area(m^2)
0       3            104       논밭두렁 소각            5000.0
1       3             95        입산자 실화            2000.0
2       3            165       논밭두렁 소각            3000.0
3       4            250        입산자 실화            1600.0
4       2             97          원인미상            3000.0
5       2             14        쓰레기 소각              30.0
6       3            134      농산폐기물 소각            2000.0
7       3            135         묘지 소각            6000.0
8       3             53       논밭두렁 소각             500.0
9       4             40       논밭두렁 소각             300.0
10      5             60     입산자실화(추정)            2000.0
11      1             84     방화(정신이상자)             700.0
12      2             53       논밭두렁 소각             500.0
13      2             36      농산폐기물 소각            2000.0
14      2             60        쓰레기 소각             200.0
15      3             28       논밭두렁 소각             100.0
16      4             24          원인미상            1000.0
17      5             80      담배불실화 추정             600.0
18      2             38    입산자 실화(추정)             100.0
19      3             49      담배불실화 추정             300.0
20      3             90    쓰레기 소각(추정)            3000.0
21      3             40    담뱃불 실화(추정)             200.0
22      6             43  농산폐기물 소각(추정)             100.0
23      3             50  농산부산물 소각(추정)             300.0
24      3             60  농산폐기물 소각(추정)            1000.0
25      5             80   논밭두렁 소각(추정)            3000.0
26      2             25       논밭두렁 소각            2500.0
27      3             30       방화(소유자)            1000.0
28      4            106      농산폐기물 소각            3000.0
29      4             21    입산자 실화(분신)             200.0
30     12            103    방화(소유자 추정)             400.0
31      4             60        쓰레기 소각             500.0
32     11            140    입산자 실화(추정)            1400.0
33      4             52          원인미상             400.0
34      2             66          원인미상             800.0

In [91]:
#위치와 피해 면적, 금액에 대한 상관관계 분석
cols=[
    'location',
    'damage_area(m^2)',
    'damage_money(1000won)'
]

col3 = fire.loc[:, cols]
col3

              location  damage_area(m^2)  damage_money(1000won)
0               서구 풍암동            5000.0                11469.0
1               동구 지산동            2000.0                 5319.0
2               동구 소태동            3000.0                10592.0
3              광산구 송학동            1600.0                 9619.0
4          동구 운림동 산238            3000.0                    0.0
5   동구 운림동 390(광륵사 경내)              30.0                    0.0
6         북구 장등동 산15-1            2000.0                  350.0
7          광산구 삼거동 산43            6000.0                  400.0
8           북구 청풍동 704             500.0                  350.0
9          광산구 대산동 산61             300.0                    0.0
10          동구 운림동 산94            2000.0                  387.0
11        동구 월남동 산57-1             700.0                    0.0
12         북구 장등동 산513             500.0                    0.0
13         광산구 사호동 산72            2000.0                    0.0
14         광산구 동림동 산40             200.0                    0.0
15          광산구 선동 산46             100.0                    0.0
16       서구 매월동 산105-3            1000.0                    0.0
17        북구 두암동 산75-1             600.0                    0.0
18      광산구 박호동 산156-1             100.0                    0.0
19      광산구 신창동 산101-2             300.0                    0.0
20          광산구 선동 477            3000.0                    0.0
21       남구 주월동 산106-1             200.0                    0.0
22         광산구 연산동 산91             100.0                    0.0
23       광산구 광산동 산98-2             300.0                    0.0
24          북구 망월동 산35            1000.0                    0.0
25       광산구 대산동 산8 일원            3000.0                    0.0
26        광산구 지정동 산123            2500.0                    0.0
27         동구 운림동 산1-9            1000.0                    0.0
28      남구 이장동 산20-1외2            3000.0                    0.0
29          남구 이장동 산13             200.0                    0.0
30           동구 학동 산31             400.0                    0.0
31        광산구 광산동 산141             500.0                    0.0
32        광산구 광산동 산134            1400.0                    0.0
33        남구 석정동 산40-3             400.0                    0.0
34        광산구 양산동 산 14             800.0                    0.0

In [92]:
#피해 면적, 금액에 대해 필요한 인력량, 기계량, 소요시간 상관관계 분석
cols=[
    'damage_area(m^2)',
    'damage_money(1000won)',
    'total_human',
    'total_machine',
    'use_time(min)'
]

col4 = fire.loc[:, cols]
col4

,damage_area(m^2),damage_money(1000won),total_human,total_machine,use_time(min)
0,5000.0,11469.0,0.0,3.0,104
1,2000.0,5319.0,0.0,3.0,95
2,3000.0,10592.0,0.0,2.0,165
3,1600.0,9619.0,0.0,2.0,250
4,3000.0,0.0,100.0,147.0,97
5,30.0,0.0,42.0,21.0,14
6,2000.0,350.0,80.0,153.0,134
7,6000.0,400.0,190.0,411.0,135
8,500.0,350.0,370.0,609.0,53
9,300.0,0.0,80.0,68.0,40
10,2000.0,387.0,300.0,213.0,60
11,700.0,0.0,290.0,306.0,84
12,500.0,0.0,200.0,215.0,53
13,2000.0,0.0,58.0,77.0,36
14,200.0,0.0,37.0,74.0,60
15,100.0,0.0,69.0,104.0,28
16,1000.0,0.0,73.0,123.0,24
17,600.0,0.0,149.0,424.0,80
18,100.0,0.0,65.0,75.0,38
19,300.0,0.0,50.0,46.0,49
20,3000.0,0.0,95.0,110.0,90
21,200.0,0.0,48.0,61.0,40
22,100.0,0.0,19.0,35.0,43
23,300.0,0.0,125.0,90.0,50
24,1000.0,0.0,80.0,94.0,60
25,3000.0,0.0,60.0,68.0,80
26,2500.0,0.0,50.0,40.0,25
27,1000.0,0.0,45.0,4.0,30
28,3000.0,0.0,0.0,2.0,106
29,200.0,0.0,58.0,27.0,21
30,400.0,0.0,182.0,88.0,103
31,500.0,0.0,66.0,12.0,60
32,1400.0,0.0,48.0,6.0,140
33,400.0,0.0,59.0,11.0,52
34,800.0,0.0,34.0,46.0,66

### 추출한 데이터들의 상관관계를 따져보고 데이터를 분석할 예정

### 추가적으로 추출할 데이터 확인 예정